body {
  margin: 0;
  background-color: #fff;  
}

.image_container{
  display: block;
  margin: auto;
  background-color: black;
  width: 70%;
  margin-top: 50px;
}

.main_image {
  position: relative;
  left: 2rem;
  height: 70vh;
  background-image: url("https://github.com/misaki346/2022.3drop/blob/main/logo.png?raw=true");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 100%;
}

/* ヘッダーのスタイル */
#gnav_list {
  text-align: right;
}

#g-nav {
  position: fixed;
  z-index: 999;
  top: -70%;
  right: 0;
  width: 17rem;
  height: 20rem;
  background:#fff;
  transition: all .6s;
  margin-right: 10px;
  margin-top: 125px;
}

#g-nav.panelactive{
  top: -10%;
  border: 1px solid #333;
}

#g-nav.panelactive #g-nav-list {
  position: relative;
  z-index: 999;
  overflow: auto;
  
  
}

#g-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-20%);
  list-style: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  
}

#g-nav li {
  width: 100%;
  border-bottom: 1px solid #333;
  margin:10px 0;
}

#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px 0 10px 0px;
  display: block;
  text-transform: none;
  letter-spacing: 0.1em;
  font-weight: bold;
  cursor: pointer;
}

#g-nav li a:hover {
  color: gray;
}

header{
position: relative;
width: 100%;
margin-bottom: 10px;
}

/* ボタンのためのスタイリング */
.openbtn {
  position:absolute;
  z-index: 9999;
  /* top: 10px; */
  right: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  
}

/* クリック後 */
.openbtn i {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  width: 45%;
}

.openbtn i:nth-of-type(1){
  /* top: 15px; */
  background-color: #333;
  margin-left: 4px;
}

.openbtn i:nth-of-type(2){
  top: 8px;
  background-color: #333;
  margin-left: 4px;
}

.openbtn i:nth-of-type(3){
  top: 16px;
  background-color: #333;
  margin-left: 4px;
}


.openbtn.active i:nth-of-type(1){
  top: 18px;
  left: 18px;
  transform: translateY(6px)rotate(-45deg);
  width: 30%;
  background-color: #333;
}

.openbtn.active i:nth-of-type(2){
  opacity: 0;
}

.openbtn.active i:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
  background-color: #333;
}

.news {
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  padding-top: 10px;
}


.news_ul {
  margin: 0 auto;
  width: 500px;
}

.news_li {
  border-bottom: 1px solid #333;
  list-style: none;
  text-align: center;
  padding: 0 10px;
}

#g-nav li:hover {
  color: gray;
}
.news_li a {
  text-decoration: none;
  display: block;
  padding: 0 10px;
}

.news_li a:hover {
  background-color: silver;
}

.news_li span {
  vertical-align: middle;
  display: inline-block;
  margin-right: 30px;
  color: #333;
}

.news_li p {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  color: #333;
}

footer {
  text-align: center;
  margin-top: 50px;
}

/* スマホ */
@media screen and (max-width:767px) {
  .news_ul {
    width: 70%;
  }

  .news_li span {
    font-size: 8px;
  }

  .news_li p {
    font-size: 8px;
  }

  .main_image {
    position: relative;
    left: 1rem;
    height: 30vh;
    background-image: url("https://github.com/misaki346/2022.3drop/blob/main/logo.png?raw=true");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    max-width: 100%;
  }
  
  .image_container{
    display: block;
    margin: auto;
    background-color: black;
    width: 70%;
    margin-top: 50px;
  }

  
  #gnav_list {
    text-align: center;
  }
  
  #g-nav {
    position: fixed;
    z-index: 999;
    top: -120%;
    width: 100%;
    height: 30vh;
    background:#fff;
    transition: all .6s;
    opacity: 0.8;
    
  }

  .nav {
    position: relative;
  }
  
  #g-nav.panelactive{
    position: absolute;
    top: -130px;
    text-align: center;
  }
  
  #g-nav.panelactive #g-nav-list {
    position: relative;
    z-index: 999;
    height: 30vh;
    overflow: auto;
  }
  
  #g-nav ul {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    /* border: 1px solid #333; */
    margin: 0 auto;
  }

  #g-nav li:hover {
    color: gray;
  }

  #g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px 0 10px 0px;
    display: block;
    text-transform: none;
    letter-spacing: 0.1em;
    font-weight: bold;
    /* border-bottom: 1px solid #333; */
    cursor: pointer;
    font-size: 8px;
    margin-right: 30px;
  }
  
  #g-nav li a:hover {
    color: gray;
  }

  .openbtn i:nth-of-type(1){
    /* top: 15px; */
    background-color: #333;
    margin-left: 20px;
  }
  
  .openbtn i:nth-of-type(2){
    top: 8px;
    background-color: #333;
    margin-left: 20px;
  }
  
  .openbtn i:nth-of-type(3){
    top: 16px;
    background-color: #333;
    margin-left: 20px;
  }

 
  
}
